In [2]:
import warnings
warnings.filterwarnings('ignore')
import os
import pandas as pd
import numpy as np

from store_data import DataStore

## Feature Analysis and Engineering

In [3]:
dataset = pd.read_csv('data1/dataset.csv')

In [3]:
dataset_expand_holidays = pd.get_dummies(dataset['Holiday'])
dataset = pd.concat([dataset, dataset_expand_holidays], axis=1)
dataset.head(5)

,Unnamed: 0,Cooling:Electricity [kW](Hourly),Date/Time,Electricity:Facility [kW](Hourly),Electricity:Facility [kW](Monthly),Fans:Electricity [kW](Hourly),Gas:Facility [kW](Hourly),Gas:Facility [kW](Monthly),Heating:Electricity [kW](Hourly),Heating:Gas [kW](Hourly),...,Christmas Day,Columbus Day,Independence Day,Labor Day,Martin Luther King Day,Memorial Day,New Years Day,Presidents Day,Thanksgiving,Veterans Day
0,0,0.0,01/01 01:00:00,22.200377,NaN,6.784553,198.184686,NaN,0.0,198.184686,...,0,0,0,0,0,0,1,0,0,0
1,1,0.0,01/01 02:00:00,20.673749,NaN,5.257925,156.818509,NaN,0.0,156.818509,...,0,0,0,0,0,0,1,0,0,0
2,2,0.0,01/01 03:00:00,22.051864,NaN,6.636040,179.738632,NaN,0.0,179.738632,...,0,0,0,0,0,0,1,0,0,0
3,3,0.0,01/01 04:00:00,20.450578,NaN,5.034754,144.452862,NaN,0.0,144.452862,...,0,0,0,0,0,0,1,0,0,0
4,4,0.0,01/01 05:00:00,21.914217,NaN,6.498393,172.954875,NaN,0.0,172.954875,...,0,0,0,0,0,0,1,0,0,0

In [4]:
dataset = dataset.drop(columns=['Holiday_code', 'Holiday'])
weekday_features = pd.read_csv('data/weekday_features.csv')
weekday_features.head(5)

    Date       Day  is_weekend  is_holiday   Holiday_name
0  01/01  Thursday           0           1  New Years Day
1  01/02    Friday           0           0            NaN
2  01/03  Saturday           1           0            NaN
3  01/04    Sunday           1           0            NaN
4  01/05    Monday           0           0            NaN

In [5]:
dataset = pd.merge(dataset, weekday_features,
                   on='Date', how='inner')
dataset.count()

Unnamed: 0                                    1681920
Cooling:Electricity [kW](Hourly)              1681920
Date/Time                                     1681920
Electricity:Facility [kW](Hourly)             1681920
Electricity:Facility [kW](Monthly)                  0
Fans:Electricity [kW](Hourly)                 1681920
Gas:Facility [kW](Hourly)                     1681920
Gas:Facility [kW](Monthly)                          0
Heating:Electricity [kW](Hourly)              1681920
Heating:Gas [kW](Hourly)                      1681920
InteriorEquipment:Electricity [kW](Hourly)    1681920
InteriorEquipment:Gas [kW](Hourly)             946080
InteriorLights:Electricity [kW](Hourly)       1681920
Water Heater:WaterSystems:Gas [kW](Hourly)    1366560
building_type                                 1681920
location                                      1681920
location_id                                   1681920
building_id                                   1681920
Date                                          1681920
time                                          1681920
sunriseTime                                   1681920
sunsetTime                                    1681920
temperatureHigh                               1681920
dewPoint                                      1681920
humidity                                      1681920
windSpeed                                     1681920
cloudCover                                    1681920
Christmas Day                                 1681920
Columbus Day                                  1681920
Independence Day                              1681920
Labor Day                                     1681920
Martin Luther King Day                        1681920
Memorial Day                                  1681920
New Years Day                                 1681920
Presidents Day                                1681920
Thanksgiving                                  1681920
Veterans Day                                  1681920
Day                                           1681920
is_weekend                                    1681920
is_holiday                                    1681920
Holiday_name                                    50688
dtype: int64

In [6]:
dataset["Electricity:Facility [kW](Monthly)"].fillna(0, inplace=True)
dataset["Gas:Facility [kW](Monthly)"].fillna(0, inplace=True)
dataset["InteriorEquipment:Gas [kW](Hourly)"].fillna(0, inplace=True)
dataset["Water Heater:WaterSystems:Gas [kW](Hourly)"].fillna(0, inplace=True)
dataset.head(5)

,Unnamed: 0,Cooling:Electricity [kW](Hourly),Date/Time,Electricity:Facility [kW](Hourly),Electricity:Facility [kW](Monthly),Fans:Electricity [kW](Hourly),Gas:Facility [kW](Hourly),Gas:Facility [kW](Monthly),Heating:Electricity [kW](Hourly),Heating:Gas [kW](Hourly),...,Martin Luther King Day,Memorial Day,New Years Day,Presidents Day,Thanksgiving,Veterans Day,Day,is_weekend,is_holiday,Holiday_name
0,0,0.0,01/01 01:00:00,22.200377,0.0,6.784553,198.184686,0.0,0.0,198.184686,...,0,0,1,0,0,0,Thursday,0,1,New Years Day
1,1,0.0,01/01 02:00:00,20.673749,0.0,5.257925,156.818509,0.0,0.0,156.818509,...,0,0,1,0,0,0,Thursday,0,1,New Years Day
2,2,0.0,01/01 03:00:00,22.051864,0.0,6.636040,179.738632,0.0,0.0,179.738632,...,0,0,1,0,0,0,Thursday,0,1,New Years Day
3,3,0.0,01/01 04:00:00,20.450578,0.0,5.034754,144.452862,0.0,0.0,144.452862,...,0,0,1,0,0,0,Thursday,0,1,New Years Day
4,4,0.0,01/01 05:00:00,21.914217,0.0,6.498393,172.954875,0.0,0.0,172.954875,...,0,0,1,0,0,0,Thursday,0,1,New Years Day

### One Hot Encoding

In [7]:
dataset_expand_days = pd.get_dummies(dataset['Day'])
dataset = pd.concat([dataset, dataset_expand_days], axis=1)
dataset.head(5)

,Unnamed: 0,Cooling:Electricity [kW](Hourly),Date/Time,Electricity:Facility [kW](Hourly),Electricity:Facility [kW](Monthly),Fans:Electricity [kW](Hourly),Gas:Facility [kW](Hourly),Gas:Facility [kW](Monthly),Heating:Electricity [kW](Hourly),Heating:Gas [kW](Hourly),...,is_weekend,is_holiday,Holiday_name,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,0,0.0,01/01 01:00:00,22.200377,0.0,6.784553,198.184686,0.0,0.0,198.184686,...,0,1,New Years Day,0,0,0,0,1,0,0
1,1,0.0,01/01 02:00:00,20.673749,0.0,5.257925,156.818509,0.0,0.0,156.818509,...,0,1,New Years Day,0,0,0,0,1,0,0
2,2,0.0,01/01 03:00:00,22.051864,0.0,6.636040,179.738632,0.0,0.0,179.738632,...,0,1,New Years Day,0,0,0,0,1,0,0
3,3,0.0,01/01 04:00:00,20.450578,0.0,5.034754,144.452862,0.0,0.0,144.452862,...,0,1,New Years Day,0,0,0,0,1,0,0
4,4,0.0,01/01 05:00:00,21.914217,0.0,6.498393,172.954875,0.0,0.0,172.954875,...,0,1,New Years Day,0,0,0,0,1,0,0

In [8]:
dataset.columns

Index(['Unnamed: 0', 'Cooling:Electricity [kW](Hourly)', 'Date/Time',
       'Electricity:Facility [kW](Hourly)',
       'Electricity:Facility [kW](Monthly)', 'Fans:Electricity [kW](Hourly)',
       'Gas:Facility [kW](Hourly)', 'Gas:Facility [kW](Monthly)',
       'Heating:Electricity [kW](Hourly)', 'Heating:Gas [kW](Hourly)',
       'InteriorEquipment:Electricity [kW](Hourly)',
       'InteriorEquipment:Gas [kW](Hourly)',
       'InteriorLights:Electricity [kW](Hourly)',
       'Water Heater:WaterSystems:Gas [kW](Hourly)', 'building_type',
       'location', 'location_id', 'building_id', 'Date', 'time', 'sunriseTime',
       'sunsetTime', 'temperatureHigh', 'dewPoint', 'humidity', 'windSpeed',
       'cloudCover', 'Christmas Day', 'Columbus Day', 'Independence Day',
       'Labor Day', 'Martin Luther King Day', 'Memorial Day', 'New Years Day',
       'Presidents Day', 'Thanksgiving', 'Veterans Day', 'Day', 'is_weekend',
       'is_holiday', 'Holiday_name', 'Friday', 'Monday', 'Saturday', 'Sunday',
       'Thursday', 'Tuesday', 'Wednesday'],
      dtype='object')

In [9]:
dataset_expand_building_type = pd.get_dummies(dataset['building_type'])
dataset = pd.concat([dataset, dataset_expand_building_type], axis=1)
dataset_expand_location = pd.get_dummies(dataset['location'])
dataset = pd.concat([dataset, dataset_expand_location], axis=1)
dataset.head(5)

,Unnamed: 0,Cooling:Electricity [kW](Hourly),Date/Time,Electricity:Facility [kW](Hourly),Electricity:Facility [kW](Monthly),Fans:Electricity [kW](Hourly),Gas:Facility [kW](Hourly),Gas:Facility [kW](Monthly),Heating:Electricity [kW](Hourly),Heating:Gas [kW](Hourly),...,USA_CA_LOS_ANGELES,USA_CA_SAN_FRANCISCO,USA_CO_BOULDER,USA_GA_ATLANTA,USA_IL_CHICAGO-OHARE,USA_MD_BALTIMORE,USA_MN_MINNEAPOLIS,USA_NV_LAS_VEGAS,USA_TX_HOUSTON,USA_WA_SEATTLE
0,0,0.0,01/01 01:00:00,22.200377,0.0,6.784553,198.184686,0.0,0.0,198.184686,...,0,0,0,0,0,0,0,0,0,0
1,1,0.0,01/01 02:00:00,20.673749,0.0,5.257925,156.818509,0.0,0.0,156.818509,...,0,0,0,0,0,0,0,0,0,0
2,2,0.0,01/01 03:00:00,22.051864,0.0,6.636040,179.738632,0.0,0.0,179.738632,...,0,0,0,0,0,0,0,0,0,0
3,3,0.0,01/01 04:00:00,20.450578,0.0,5.034754,144.452862,0.0,0.0,144.452862,...,0,0,0,0,0,0,0,0,0,0
4,4,0.0,01/01 05:00:00,21.914217,0.0,6.498393,172.954875,0.0,0.0,172.954875,...,0,0,0,0,0,0,0,0,0,0

In [12]:
dataset.to_csv('data1/dataset.csv')

In [ ]:
"""
data_store = DataStore('35.227.50.121')
data_store.connect_to_database()
data_store.store_data(energystats)
"""